<!DOCTYPE html>
<html>
<head>
    <title>Tude Portal</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/lib/fonts.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/public/css/global.css">
    <link rel="stylesheet" type="text/css" href="/public/css/CUSTOMCSS.css">
    
    <script src="/public/lib/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <gheader></gheader>

        <div id="content-wrapper">
            <div id="content">

                <button regular>Regular</button>
                <button major>Major</button>
                <h6>Do not combine small buttons with regular or major ones. this here is h6 btw</h6>
                <button small>small</button>

                <div style="height: 100px"></div>

                <h2>h2 title</h2>
                <h4>h4 title</h4>

                <div style="height: 100px"></div>

                <h3>h3 title</h3>
                <p>Text paragraph</p>
                
                <div style="height: 100px"></div>

                <div center> <p>Centered content</p> </div>
                <div center> <button>a</button> <button>b</button> </div>

                <div style="height: 100px"></div>

                <div class="box">
                    
                </div>

            </div>
        </div>

        <gfooter></gfooter>
    </div>

    <script src="/public/js/global.js"></script>
    <script src="/public/js/CUSTOMJS.js"></script>
</body>
</html>