

.tag {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    height: 70px;
    overflow: hidden;
}
.tag[open] {
    height: unset;
}

.tag-header {
    display: flex;
    padding: 20px 30px;
    height: 30px;
    background: var(--background);
    font-family: var(--font-monospace), monospace;
    align-items: baseline;
    user-select: none;
    cursor: pointer;
}

.tag-foldicon {
    font-size: 20px;
    color: var(--title);
    margin-right: 30px;
    transform: translateY(0) rotate(-90deg);
}
.tag[open] > .tag-header > .tag-foldicon {
    transform: translateY(1px) rotate(0);
}

.tag-name {
    font-size: 22px;
    color: var(--title);
    font-family: inherit;
    margin-right: 20px;
}

.tag-desc {
    font-size: 16px;
    color: var(--text);
    font-family: inherit;
}

.tag-content {
    padding: 20px 20px;
    background: var(--background);
    font-family: var(--font-monospace), monospace;
    border-top: 2px solid var(--dividers);
}

.endpoint {
    display: block;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 2px solid var(--c);
    margin-bottom: 15px;
    box-shadow: 0 0 7px -5px var(--c);
    background: var(--b);
    overflow: hidden;
}
.endpoint[open] { height: unset; }
.endpoint:last-child { margin-bottom: 0; }

.endpoint[method="get"] { --c: #569cf3; --b: #2b3544; --d: #2a3039; }
.endpoint[method="post"] { --c: #61a95b; --b: #354034; --d: #2f3531; }
.endpoint[method="delete"] { --c: #d03636; --b: #543232; --d: #3e2e30; }

.endpoint-header {
    display: flex;
    padding: 10px 10px;
    height: 35px;
    font-family: var(--font-monospace), monospace;
    align-items: center;
    cursor: pointer;
}

.endpoint-method {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    color: var(--title);
    background: var(--c);
    border-radius: 3px;
    padding: 8px 0;
    width: 80px;
    text-align: center;
    margin-right: 20px;
    user-select: none;
    text-transform: uppercase;
}

.endpoint-path {
    font-size: 18px;
    color: var(--title);
    font-family: inherit;
    margin-right: 20px;
}

.endpoint-desc {
    font-size: 16px;
    color: var(--title);
    opacity: .5;
    font-family: inherit;
}

.endpoint-permission {
    margin-left: auto;
    font-size: 18px;
    color: var(--c);
    font-family: var(--font-normal);
    font-weight: var(--font-weight-bold);
    margin-right: 10px;
}

.endpoint-content {
    padding: 20px 20px;
    background: var(--b);
    font-family: var(--font-monospace), monospace;
    border-top: 2px solid var(--c);
    position: relative;
}

.ec-details {
    font-size: 16px;
    color: var(--title);
    opacity: .8;
    font-family: var(--font-normal);
}

.ec-header {
    width: calc(100% + 40px);
    transform: translateX(-20px);
    margin: 20px 0 10px 0;
    background: var(--d);
    padding: 10px 20px;
}

.ec-header > .main {
    display: inline;
    color: var(--title);
    font-size: 18px;
    font-family: var(--font-normal);
    font-weight: var(--font-weight-bold);
    margin-right: 20px;
}

.ec-header > .sub {
    display: inline;
    color: var(--title);
    font-size: 12px;
    opacity: .5;
}

th, td {
    text-align: left;
    padding: 7px 15px;
}

th {
    color: var(--title);
    font-size: 16px;
    font-family: var(--font-normal);
    font-weight: var(--font-weight-bold);
}

td {
    color: var(--title);
    opacity: .8;
    font-size: 16px;
    font-family: var(--font-normal);
    font-weight: var(--font-weight-normal);
}

code {
    font-family: var(--font-monospace), monospace;
    font-size: 12px;
    padding: 10px !important;
    border-radius: 4px;
}